.home-page {
  font-family: var(--global-font-family);
  background-color: var(--background-color);
}

.home-page button.button {
  font-size: 2rem;
}

.home-page .main-header {
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.home-page .header-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 2rem;
  gap: 0.5rem; 
}


.home-page .login-button button {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--school-blue);
  transition: 
    all 0.2s ease; 
}

.home-page .signup-button button {
  background-color: var(--school-blue);
  color: white;
  transition: 
    all 0.2s ease; 
}

.home-page .login-button button:hover {
  font-weight: bold;
  color: var(--school-gold);
}

.home-page .signup-button button:hover {
  background-color: var(--school-gold);
  font-weight: bold;
}

.home-page .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:80vh; 
  align-items: center;
}

header h1 {
  color: var(--school-blue); 
  font-size: 7rem;
  font-family: var(--global-font-family);
  text-align: center; 

  transition:text-shadow 0.01s ease-out;  
  position: relative; 
}

.home-page .main-content header {
  position: relative;
  width: 100%;
}

header h2 {
  color: var(--school-blue); 
  font-size: 2.7rem;
  font-family: var(--global-font-family);
  text-align: center; 
  margin-bottom: 2rem;
  text-shadow: 0.2rem 0.2rem 0rem color-mix(in srgb, var(--school-gold) 30%, transparent);
}

input[type="text"] {
  width: 70%;
  padding: 1.5rem 1.5rem; 
  border-radius: 8rem;
  border: none;
  outline: none; 

  font-size:  1.5rem;
  font-family: var(--global-font-family);
  box-sizing: border-box; 

  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1); 
}

.home-page .content-buttons {
  display: flex; 
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem; 
}


input[type="text"]:hover {
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus {
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
}