:root {
    --button-padding: 0.625rem 1.25rem;
    --button-font-size: 1.3rem;
    --button-border-radius: 2rem;
    --button-border-width: 0.2rem;
    --button-gap: 1rem;

    --school-blue: #0055A2; 
    --school-gold: #E5A823; 
    --background-color: #88abe3; 
}


body {
    background-color: var(--background-color); 
}

.main-header {
    width: 100%;
    height: 7rem; 
    background-color: var(--school-blue);
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex; 
    align-items: center;
}

.header-buttons-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 100%; 
    margin-right: 2rem;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem; 
    width: auto; 
}

.header-buttons button {
    background-color: rgba(255, 255, 255, 0.2); /* button background color */
    color: white; /* text color */

    padding: var(--button-padding); /* padding for size */
    border: var(--button-border-width) solid white; 
    border-radius: var(--button-border-radius); /* rounded corners */


    font-size: 1.3rem; /* font size */
    font-weight: bold; 


    cursor: pointer; /* pointer cursor on hover */
    transition: background-color 0.3s ease; /* smooth transition */
}

.header-buttons button:hover {
    background-color: white; /* background color on hover */
    color: var(--school-blue); /* text color on hover */
}


.main-page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header h1 {
    font-family:'Montserrat', sans-serif; 
    color: var(--school-blue); 
    font-size: 4rem;
    text-align: center; 
}


input[type="text"] {
    width: 150%;
    padding: 0.75rem 0.75rem; 
    border-radius: 1rem;
    border: 0.2rem solid var(--school-blue);
    outline: none; 
    font-size:  1rem;
    box-sizing: border-box; 
}

.content-buttons {
    display: flex;
    margin-top: 2rem; 
    gap:var(--button-gap); 
}

.content-buttons button:hover {
    background-color: white; /* background color on hover */
    color: var(--school-blue); /* text color on hover */
}

.content-buttons button {
    background-color: rgba(255, 255, 255, 0.2); /* button background color */
    color: white; /* text color */
    
    padding: var(--button-padding); /* padding for size */
    border: var(--button-border-width) solid white; /* remove border */
    border-radius: var(--button-border-radius); /* rounded corners */

    font-size: var(--button-font-size); /* font size */
    font-weight: bold;

    cursor: pointer; /* pointer cursor on hover */
    transition: background-color 0.3s ease; /* smooth transition */
}

